<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEMORY MATCH</title>
</head>
<body>
    <h1> Comments and Concerns</h1>
    <form action="/comments" method="POST">
        <input type="text" placeholder="comment" name="comment">
        <button type="submit">Submit</button>
    </form>
    <h2> Comments </h2>
    <ul class="comments">
    <% for(var i = 0; i < comments.length; i++) {%>
        <li class="comments">
             <span><%= comments[i].comment %></span>
        </li>
    <% } %>
    </ul>
</body>
</html>
